@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: inherit;
    font-family: Pretendard-Regular;
}

a {
    text-decoration: none;
}

svg {
    fill: currentColor;
}

input {
    outline: none;
}

#root {
    width: 100dvw;
    height: 100dvh;
}

/* remove input number scroll wheel 
    ref: https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp
*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
}

textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
}
